<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804081239510-1fk9qcb1s5g1nqrhb4n1pr7o91u9r1qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804081239510-1fk9qcb1s5g1nqrhb4n1pr7o91u9r1qs</string>
	<key>API_KEY</key>
	<string>AIzaSyDsf73t9RJe47vACgdY3Ym5ViBYuqokjXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>804081239510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.saifur.HumanLog</string>
	<key>PROJECT_ID</key>
	<string>humanlog-1539f</string>
	<key>STORAGE_BUCKET</key>
	<string>humanlog-1539f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804081239510:ios:4cafded56b6b44cc389077</string>
	<key>DATABASE_URL</key>
	<string>https://humanlog-1539f.firebaseio.com</string>
</dict>
</plist>